:root {
  font-family: "Great Vibes", "Segoe Script", "Lucida Handwriting", cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #222222;
  background-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ссылки */
a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

/* Тело страницы */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f3f3;
  color: #222222;
  font-family: "Great Vibes", "Segoe Script", "Lucida Handwriting", cursive;


}

/* Заголовок (если используешь) */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 500;
}

/* Кнопки (если нужны) */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e6e6e6;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
}
button:hover {
  border-color: #bbbbbb;
  opacity: 0.9;
}
button:focus,
button:focus-visible {
  outline: 3px solid #999999;
}
